.vs/
*.user
*.suo
*.sln.docstates
*.userosscache
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
project.lock.json
.nuget/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.psess
*.vsp
*.vspx
*.sap
*crash*.log